@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="name">Name</label>
            <input type="text" readonly class="form-control" id="name" />
        </div>
        <div class="form-group col-md-2">
            <label for="status">Status</label>
            <input type="text" readonly class="form-control" id="status" />
        </div>
        <div class="form-group col-md-2">
            <label for="statusStarted">Status Started</label>
            <input type="text" readonly class="form-control" id="statusStarted" />
        </div>
        <div class="form-group col-md-2">
            <label for="count">Status Count</label>
            <input type="text" readonly class="form-control" id="count" />
        </div>
        <div class="form-group col-md-2">
            <label for="lastDate">Last Evaluation Date</label>
            <input type="text" readonly class="form-control" id="lastDate" />
        </div>
        <div class="form-group col-md-2">
            <label for="duration">Duration</label>
            <input type="text" readonly class="form-control" id="duration" />
        </div>
    </div>
</form>

<table id="entries" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th data-field="name">Name</th>
            <th data-field="status">Status</th>
            <th data-field="description">Description</th>
            <th data-field="duration">Duration</th>
        </tr>
    </thead>
</table>