@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="name">Name</label>
            <input type="text" readonly class="form-control" id="name" />
        </div>
        <div class="form-group col-md-2">
            <label for="status">Status</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i id="icon" class="fa fa-slash"></i></span>
                </div>
                <input type="text" readonly class="form-control" id="status" />
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="statusStarted">Status Started</label>
            <input type="text" readonly class="form-control" id="statusStarted" />
        </div>
        <div class="form-group col-md-2">
            <label for="statusCount">Status Count</label>
            <input type="text" readonly class="form-control" id="statusCount" />
        </div>
        <div class="form-group col-md-2">
            <label for="lastDate">Last Evaluation Date</label>
            <input type="text" readonly class="form-control" id="lastDate" />
        </div>
        <div class="form-group col-md-2">
            <label for="duration">Duration</label>
            <input type="text" readonly class="form-control" id="duration" />
        </div>
    </div>
</form>

<h3>Entries</h3>
<table id="entries" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th data-field="name">Name</th>
            <th data-field="status">Status</th>
            <th data-field="description">Description</th>
            <th data-field="duration">Duration</th>
        </tr>
    </thead>
</table>
<hr />
<h3>Change States</h3>
<div class="row">
    <div class="col-sm">
        <h5>Health 1</h5>
        <button data-checked="Health1/healthy" class="state btn btn-outline-success">Healthly</button>
        <button data-checked="Health1/degraded" class="state btn btn-outline-warning">Degraded</button>
        <button data-checked="Health1/unhealthy" class="state btn btn-outline-danger">Unhealthly</button>
    </div>
    <div class="col-sm">
        <h5>Health 2</h5>
        <button data-checked="Health2/healthy" class="state btn btn-outline-success">Healthly</button>
        <button data-checked="Health2/degraded" class="state btn btn-outline-warning">Degraded</button>
        <button data-checked="Health2/unhealthy" class="state btn btn-outline-danger">Unhealthly</button>
    </div>
    <div class="col-sm">
        <h5>Health 3</h5>
        <button data-checked="Health3/healthy" class="state btn btn-outline-success">Healthly</button>
        <button data-checked="Health3/degraded" class="state btn btn-outline-warning">Degraded</button>
        <button data-checked="Health3/unhealthy" class="state btn btn-outline-danger">Unhealthly</button>
    </div>
</div>